- var page = "index";
doctype html
html(lang="vi")
    head
        include jades/head
    body(ontouchstart='')
        include jades/menu-mobile.jade
        include jades/header.jade
        main.tour-wrapper
            section.tour-home

        include jades/footer.jade
        script(type='text/javascript' src="js/jquery-3.3.1.min.js")
        script(type='text/javascript' src="js/popper.min.js")
        script(type='text/javascript' src="js/bootstrap.min.js")
        script(type='text/javascript' src="js/slick.min.js")



