- var page = "product-list";
doctype html
html(lang="vi")
    head
        include jades/head
    body(ontouchstart='')
        include jades/header.jade
        main.sn-wrapper
            section.sn-product-list
                .sn-breadcrumb
                    .container
                        ul.breadcrumb
                            li.breadcrumb-item
                                a(href='#') Home
                            li.breadcrumb-item
                                a(href='#') Library
                            li.breadcrumb-item.active(aria-current='page') Data

                .sn-product-list__main
                    .container
                        .product-title
                            h2 mã vạch công nghiệp
                        .product-sort
                            .product-sort__result
                                p Hiển thị 1–16 trong 30 kết quả
                            .product-sort__select
                                select.form-control
                                    option Option 1
                                    option Option 2
                                    option Option 3
                        .list-product
                            .list-product__item
                                .product-item
                                    .product-item__img
                                        img(src='images/product1.png')
                                    .product-item__text
                                        p.product-item__name In tem decal cuộn chuyên nghiệp
                                        p.product-item__price 239.000₫
                                    .product-item__btn
                                        a.btn.btn-orange(href='product-list.html') Mua ngay
                            .list-product__item
                                .product-item
                                    .product-item__img
                                        img(src='images/product2.png')
                                    .product-item__text
                                        p.product-item__name In tem decal cuộn chuyên nghiệp
                                        p.product-item__price 239.000₫
                                    .product-item__btn
                                        a.btn.btn-orange(href='product-list.html') Mua ngay
                            .list-product__item
                                .product-item
                                    .product-item__img
                                        img(src='images/product2.png')
                                    .product-item__text
                                        p.product-item__name In tem decal cuộn chuyên nghiệp
                                        p.product-item__price 239.000₫
                                    .product-item__btn
                                        a.btn.btn-orange(href='product-list.html') Mua ngay
                            .list-product__item
                                .product-item
                                    .product-item__img
                                        img(src='images/product2.png')
                                    .product-item__text
                                        p.product-item__name In tem decal cuộn chuyên nghiệp
                                        p.product-item__price 239.000₫
                                    .product-item__btn
                                        a.btn.btn-orange(href='product-list.html') Mua ngay
                            .list-product__item
                                .product-item
                                    .product-item__img
                                        img(src='images/product2.png')
                                    .product-item__text
                                        p.product-item__name In tem decal cuộn chuyên nghiệp
                                        p.product-item__price 239.000₫
                                    .product-item__btn
                                        a.btn.btn-orange(href='product-list.html') Mua ngay
                            .list-product__item
                                .product-item
                                    .product-item__img
                                        img(src='images/product1.png')
                                    .product-item__text
                                        p.product-item__name In tem decal cuộn chuyên nghiệp
                                        p.product-item__price 239.000₫
                                    .product-item__btn
                                        a.btn.btn-orange(href='product-list.html') Mua ngay
                            .list-product__item
                                .product-item
                                    .product-item__img
                                        img(src='images/product2.png')
                                    .product-item__text
                                        p.product-item__name In tem decal cuộn chuyên nghiệp
                                        p.product-item__price 239.000₫
                                    .product-item__btn
                                        a.btn.btn-orange(href='product-list.html') Mua ngay
                            .list-product__item
                                .product-item
                                    .product-item__img
                                        img(src='images/product2.png')
                                    .product-item__text
                                        p.product-item__name In tem decal cuộn chuyên nghiệp
                                        p.product-item__price 239.000₫
                                    .product-item__btn
                                        a.btn.btn-orange(href='product-list.html') Mua ngay
                            .list-product__item
                                .product-item
                                    .product-item__img
                                        img(src='images/product2.png')
                                    .product-item__text
                                        p.product-item__name In tem decal cuộn chuyên nghiệp
                                        p.product-item__price 239.000₫
                                    .product-item__btn
                                        a.btn.btn-orange(href='product-list.html') Mua ngay
                            .list-product__item
                                .product-item
                                    .product-item__img
                                        img(src='images/product2.png')
                                    .product-item__text
                                        p.product-item__name In tem decal cuộn chuyên nghiệp
                                        p.product-item__price 239.000₫
                                    .product-item__btn
                                        a.btn.btn-orange(href='product-list.html') Mua ngay
                            .list-product__item
                                .product-item
                                    .product-item__img
                                        img(src='images/product2.png')
                                    .product-item__text
                                        p.product-item__name In tem decal cuộn chuyên nghiệp
                                        p.product-item__price 239.000₫
                                    .product-item__btn
                                        a.btn.btn-orange(href='product-list.html') Mua ngay
                            .list-product__item
                                .product-item
                                    .product-item__img
                                        img(src='images/product1.png')
                                    .product-item__text
                                        p.product-item__name In tem decal cuộn chuyên nghiệp
                                        p.product-item__price 239.000₫
                                    .product-item__btn
                                        a.btn.btn-orange(href='product-list.html') Mua ngay
                            .list-product__item
                                .product-item
                                    .product-item__img
                                        img(src='images/product2.png')
                                    .product-item__text
                                        p.product-item__name In tem decal cuộn chuyên nghiệp
                                        p.product-item__price 239.000₫
                                    .product-item__btn
                                        a.btn.btn-orange(href='product-list.html') Mua ngay
                            .list-product__item
                                .product-item
                                    .product-item__img
                                        img(src='images/product2.png')
                                    .product-item__text
                                        p.product-item__name In tem decal cuộn chuyên nghiệp
                                        p.product-item__price 239.000₫
                                    .product-item__btn
                                        a.btn.btn-orange(href='product-list.html') Mua ngay
                        .sn-pagination
                            ul.pagination
                                li.page-item
                                    a.page-link(href='#') <<
                                li.page-item
                                    a.page-link(href='#') 1
                                li.page-item.active
                                    a.page-link(href='#') 2
                                li.page-item
                                    a.page-link(href='#') 3
                                li.page-item
                                    a.page-link(href='#') >>

            section.backToTop
                button.backToTop__btn(type='button')
                    i.fas.fa-chevron-up
                .hotline
                    .hotline__phone
                        p
                            i.fas.fa-phone
                            | (024) 71 089 999
                    .hotline__mess
                        i.fab.fa-facebook-messenger
        include jades/footer.jade
        script(type='text/javascript' src="js/jquery-3.3.1.min.js")
        script(type='text/javascript' src="js/popper.min.js")
        script(type='text/javascript' src="js/bootstrap.min.js")
        script.
            var backToTop = $('.backToTop');

            $(window).scroll(function() {
                if ($(window).scrollTop() > 300) {
                    backToTop.addClass('show');
                } else {
                    backToTop.removeClass('show');
                }
            });

            backToTop.on('click', function(e) {
                e.preventDefault();
                $('html, body').animate({scrollTop:0}, '300');
            });