@font-face {
  font-family: "Open Sans";
  src: url(../webfonts/Roboto/Thin/Roboto-Thin.woff2?v=2.137) format("woff2"),
  url(../webfonts/Roboto/Thin/Roboto-Thin.woff?v=2.137) format("woff"),
  url(../webfonts/Roboto/Thin/Roboto-Thin.ttf?v=2.137) format("ttf");
  font-weight: $thin;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url(../webfonts/Roboto/ThinItalic/Roboto-ThinItalic.woff2?v=2.137) format("woff2"),
  url(../webfonts/Roboto/ThinItalic/Roboto-ThinItalic.woff?v=2.137) format("woff"),
  url(../webfonts/Roboto/ThinItalic/Roboto-ThinItalic.ttf?v=2.137) format("ttf");
  font-weight: $thin;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url(../webfonts/Roboto/Light/Roboto-Light.woff2?v=2.137) format("woff2"),
  url(../webfonts/Roboto/Light/Roboto-Light.woff?v=2.137) format("woff"),
  url(../webfonts/Roboto/Light/Roboto-Light.ttf?v=2.137) format("ttf");
  font-weight: $light;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url(../webfonts/Roboto/LightItalic/Roboto-LightItalic.woff2?v=2.137) format("woff2"),
  url(../webfonts/Roboto/LightItalic/Roboto-LightItalic.woff?v=2.137) format("woff"),
  url(../webfonts/Roboto/LightItalic/Roboto-LightItalic.ttf?v=2.137) format("ttf");
  font-weight: $light;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: url(../webfonts/Roboto/Regular/Roboto-Regular.woff2?v=2.137) format("woff2"),
  url(../webfonts/Roboto/Regular/Roboto-Regular.woff?v=2.137) format("woff"),
  url(../webfonts/Roboto/Regular/Roboto-Regular.ttf?v=2.137) format("ttf");
  font-weight: $regular;
  font-style: normal;
}


@font-face {
  font-family: "Open Sans";
  src: url(../webfonts/Roboto/Italic/Roboto-Italic.woff2?v=2.137) format("woff2"),
  url(../webfonts/Roboto/Italic/Roboto-Italic.woff?v=2.137) format("woff"),
  url(../webfonts/Roboto/Italic/Roboto-Italic.ttf?v=2.137) format("ttf");
  font-weight: $regular;
  font-style: italic;
}


@font-face {
  font-family: "Open Sans";
  src: url(../webfonts/Roboto/Bold/Roboto-Medium.woff2?v=2.137) format("woff2"),
  url(../webfonts/Roboto/Bold/Roboto-Medium.woff?v=2.137) format("woff"),
  url(../webfonts/Roboto/Bold/Roboto-Medium.ttf?v=2.137) format("ttf");
  font-weight: $medium;
  font-style: normal;
}


@font-face {
  font-family: "Open Sans";
  src: url(../webfonts/Roboto/BoldItalic/Roboto-MediumItalic.woff2?v=2.137) format("woff2"),
  url(../webfonts/Roboto/BoldItalic/Roboto-MediumItalic.woff?v=2.137) format("woff"),
  url(../webfonts/Roboto/BoldItalic/Roboto-MediumItalic.ttf?v=2.137) format("ttf");
  font-weight: $medium;
  font-style: italic;
}


@font-face {
  font-family: "Open Sans";
  src: url(../webfonts/Roboto/Bold/Roboto-Bold.woff2?v=2.137) format("woff2"),
  url(../webfonts/Roboto/Bold/Roboto-Bold.woff?v=2.137) format("woff"),
  url(../webfonts/Roboto/Bold/Roboto-Bold.woff?v=2.137) format("ttf");
  font-weight: $bold;
  font-style: normal;
}


@font-face {
  font-family: "Open Sans";
  src: url(../webfonts/Roboto/BoldItalic/Roboto-BoldItalic.woff2?v=2.137) format("woff2"),
  url(../webfonts/Roboto/BoldItalic/Roboto-BoldItalic.woff?v=2.137) format("woff"),
  url(../webfonts/Roboto/BoldItalic/Roboto-BoldItalic.ttf?v=2.137) format("ttf");
  font-weight: $bold;
  font-style: italic;
}


@font-face {
  font-family: "Open Sans";
  src: url(../webfonts/Roboto/Black/Roboto-Black.woff2?v=2.137) format("woff2"),
  url(../webfonts/Roboto/Black/Roboto-Black.woff?v=2.137) format("woff"),
  url(../webfonts/Roboto/Black/Roboto-Black.ttf?v=2.137) format("ttf");
  font-weight: $black;
  font-style: normal;
}


@font-face {
  font-family: "Open Sans";
  src: url(../webfonts/Roboto/ExtraBoldItalic/Roboto-BlackItalic.woff2?v=2.137) format("woff2"),
  url(../webfonts/Roboto/ExtraBoldItalic/Roboto-BlackItalic.woff?v=2.137) format("woff"),
  url(../webfonts/Roboto/ExtraBoldItalic/Roboto-BlackItalic.ttf?v=2.137) format("ttf");
  font-weight: $black;
  font-style: italic;
}