// Font Colors
$base-font-family:'Open Sans';
$base-font-color:#28313b;
$base-font-size:14px;
$base-font-weight:normal;
$base-line-height:1.5;
$base-background-color:#f8f7f7;

//Background Colors
$white-1:#ffffff;

$black-1:#000000;
$black-2:#222222;

$gray-1:#b4b3b3;
$gray-2:#acb9c6;
$gray-3:#cccccc;
$gray-4:#f0f1f6;
$gray-6:#dddddd;
$gray-7:#f8f8f8;
$gray-8:#d8d8d8;
$gray-9:#ededed;
$gray-10:#6b6c6c;

$purple-1:#6A28FA;
$purple-2:#370B7F;

$blue-1:#0397db;
$blue-2:#0e3179;

$red-1:#cd181e;
$red-2:#FF3B30;

$orange: #f18721;
$brown: #44262c;
$main-color:#cd181e;
$text-color:#28313b;
$shadow: 0 1px 3px 0 rgba(27,27,27,.1);

//Font Size
$size-6: 6px;
$size-8: 8px;
$size-10:10px;
$size-11:11px;
$size-12:12px;
$size-13:13px;
$size-14:14px;
$size-15:15px;
$size-16:16px;
$size-18:18px;
$size-20:20px;
$size-22:22px;
$size-24:24px;
$size-26:26px;
$size-28:28px;
$size-30:30px;

//Font weight

$thin:100;
$light:300;
$regular:400;
$medium:500;
$semibold:600;
$bold:700;
$heavy:800;
$black:900;

//Responsive
$screen-xs:767px;
$screen-sm:768px;
$screen-md:992px;
$screen-lg:1200px;

//grid
$screen-sm-max: ($screen-md - 1);
$screen-md-max: ($screen-lg - 1);








