footer.sn-footer
    .sn-footer__top
        .container
            .sn-footer__flex
                .sn-footer__contact
                    .footer-title
                        h2 liên hệ
                    ul.ul-contact
                        li
                            i.fas.fa-map-marker-alt
                            p Đội 8 Vĩnh Trung, Đại Áng, Thanh Trì, Hà Nội
                        li
                            i.fas.fa-phone
                            p (04)3 662 0820 - Hotline (24/7): 0979 26 22 30
                        li
                            i.fas.fa-envelope
                            p congtyinsonnguyen@gmail.com
                        li
                            i.fas.fa-clock
                            p Giờ làm việc: 8h30 - 17h30
                    ul.ul-social
                        li
                            a(href='#')
                                i.fab.fa-facebook-f
                        li
                            a(href='#')
                                i.fab.fa-twitter
                        li
                            a(href='#')
                                i.fab.fa-google-plus-g
                        li
                            a(href='#')
                                i.fab.fa-youtube
                .sn-footer__partner
                    .footer-title
                        h2 đối tác
                    ul.ul-partner
                        li
                            img(src='images/partner1.png')
                        li
                            img(src='images/partner2.png')
                        li
                            img(src='images/partner3.png')
                        li
                            img(src='images/partner4.png')
                        li
                            img(src='images/partner5.png')
                        li
                            img(src='images/partner6.png')
                        li
                            img(src='images/partner7.png')
                        li
                            img(src='images/partner8.png')
                        li
                            img(src='images/partner9.png')
                .sn-footer__fb
                    img(src='images/footer-fb.png')
    .sn-footer__bottom
        p © 2019 Công ty cổ phần in Sơn Nguyên - sonnguyen.com.vn