title GOONG
meta(charset="utf-8")
meta(http-equiv="x-ua-compatible" content="ie=edge")
meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
meta(name='format-detection', content='telephone=no')
link(rel='shortcut icon', type='image/x-icon', href='')
link(rel="stylesheet" href="css/libs/bootstrap.min.css")
link(rel="stylesheet" href="css/styles.css")