select.form-control:not([size]):not([multiple]){
  height: auto;
}
.form-group{
  label{
    margin-bottom: 5px;
    font-size: 14px;
    color: #000;
    font-weight: 400;
    span{
      color: red;
      padding-left: 3px;
    }
  }
}
.form-control{
  border: 1px solid rgb(221, 221, 221);
  border-radius:3px;
  padding: 12px 15px;
  font-size: 16px;
  font-weight: $regular;
  color: $black-1;


  &:focus{
    color: $black-1;
    border-color: $main-color;
    outline: 0;
    box-shadow: none;
  }
  &:active{
    border-color: $main-color;
  }
  &::-webkit-input-placeholder {
    color:#b4b3b3;
  }
  &::-moz-placeholder {
    color:#b4b3b3;
  }
  &:-ms-input-placeholder {
    color:#b4b3b3;
  }
  &:-moz-placeholder {
    color:#b4b3b3;
  }

}

.breadcrumb{
  background: none;
  padding:0;
  .breadcrumb-item{
    font-size: 16px;
    color: $text-color;
    a{
      color: $text-color;
    }
  }
}
.counter-input{
  display: flex;
  align-items: center;
  width: 120px;
  border: 1px solid #ddd;
  &__btn{
    width: 40px;
    background: none;
    border: none;
    padding: 2px 0;
    font-size: 18px;
    font-weight: $semibold;
    cursor: pointer;
    &:focus{
      outline: none;
    }
    &:hover{
      background-color: #f1f1f1;
    }
    &.minus{
      border-right: 1px solid #ddd;
      color: #f34646;
    }
    &.plus{
      border-left: 1px solid #ddd;
      color: #00a651;
    }
  }
  p{
    width: 40px;
    text-align: center;
    font-size: 16px;
    font-weight: $semibold;
    color: $text-color;
  }
}