select.form-control:not([size]):not([multiple]){
  height: auto;
}
.form-group{
  label{
    margin-bottom: 5px;
    font-size: 14px;
    color: #000;
    font-weight: 400;
    span{
      color: red;
      padding-left: 3px;
    }
  }
}
.form-control{
  border: 1px solid rgb(232, 232, 232);
  border-radius:5px;
  padding: 9px 15px;
  font-size: 16px;
  font-weight: $regular;
  color: $black-1;


  &:focus{
    color: $black-1;
    border-color: rgb(232, 232, 232);
    outline: 0;
    box-shadow: none;
  }
  &::-webkit-input-placeholder {
    color:#b4b3b3;
  }
  &::-moz-placeholder {
    color:#b4b3b3;
  }
  &:-ms-input-placeholder {
    color:#b4b3b3;
  }
  &:-moz-placeholder {
    color:#b4b3b3;
  }

}
.form-search{
  display: flex;
  .form-control{
    border-radius: 5px 0 0 5px;
    border-right: none;
    width: calc(100% - 70px);
  }
  .btn{
    border-radius: 0 5px 5px 0;
    width: 70px;
  }
}

