.sn-pagination{
  display: flex;
  justify-content: center;
  padding: 15px 0;
  margin-bottom: 30px;
  .pagination{
    .page-item{
      padding: 0 2px;
      &.active{
        .page-link{
          background-color: $orange;
        }
      }
    }
    .page-link{
      background-color: #cccccc;
      color: #fff;
      border: none;
      border-radius: 3px;
    }
  }
}