.home-title{
  margin-bottom: 30px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-color: #f1f1f1;
  h2{
    font-size: 18px;
    font-weight:$medium;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    padding: 12px 10px 12px 20px;
    background-color: $orange;
    &:before{
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: -44px;
      border-width: 22px;
      border-style: solid;
      border-color: transparent transparent transparent $orange;

    }
  }
}